 table, th, td {
        border: 1px solid black;
        width: 100%;
          }
      h2 {
        color: brown;
        text-align: center;
      }
      table {
        text-align: center;
        color: brown;
      } 
      div {
        background-color: beige;
        width: 200px;
        border: 5px solid brown;
        margin: 20px;
        color: blue;
        text-align: center;
        font-size: 100%
      }
      .center {
          margin: auto;
      }  
      img {
         display: block;
         margin-left: auto;
         margin-right: auto;
      }     